* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  min-height: 100vh;
}

/* Header */

header {
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  color: white;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  gap: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.menu {
  font-size: 26px;
  cursor: pointer;
}

/* Sidebar */

nav {
  position: fixed;
  top: 0;
  left: -260px;
  width: 260px;
  height: 100%;
  background: #222;
  padding-top: 60px;
  transition: 0.3s;
  z-index: 10;
}

nav a {
  display: block;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover {
  background: #ff69b4;
}

.close {
  color: white;
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 22px;
  cursor: pointer;
}

/* Overlay */

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  display: none;
  z-index: 5;
}

/* Main */

main {
  text-align: center;
  padding: 50px 20px;
  color: #333;
}

main h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

main p {
  margin-bottom: 40px;
  color: #555;
}

/* Boxes */

.container {
  max-width: 700px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.box {
  background: rgba(255,255,255,0.8);
  height: 140px;
  border-radius: 15px;
  font-size: 22px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.box:hover {
  transform: translateY(-8px) scale(1.05);
  background: white;
  color: #ff69b4;
}


/* Slider Design */

.slider {
  width: 90%;
  max-width: 400px;
  height: 220px;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 10px #000;
}

.slides {
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.slide.active {
  display: block;
}

/* Buttons */

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  font-size: 22px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover,
.next:hover {
  background: black;
}

/* Default Light Mode */

body {
  background:gray;
  color: #222;
  transition: 0.3s;
}

/* Dark Mode */

body.dark {
  background: Aqua;
  color: white;
}

/* Button Style */

#themeBtn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
  margin-left: 10px;
}